header.header(itemscope itemtype="https://schema.org/WPHeader")
  .container
    nav.nav(itemscope itemtype="https://schema.org/SiteNavigationElement" role="navigation" aria-label="Основная навигация")
      .nav__logo(itemscope itemtype="https://schema.org/Organization")
        a(href="/" itemprop="url" aria-label="Главная страница" class="logo-link")
          include logo
      ul.nav__list
        li.nav__item
          a.nav__link(href="#about" itemprop="url" aria-label="Перейти к разделу О нас")
            span(itemprop="name") О нас
        li.nav__item
          a.nav__link(href="#pricing" itemprop="url" aria-label="Перейти к разделу Цены")
            span(itemprop="name") Цены
        li.nav__item
          a.nav__link(href="#certificates" itemprop="url" aria-label="Перейти к разделу Сертификаты")
            span(itemprop="name") Сертификаты
        li.nav__item
          a.nav__link(href="#reviews" itemprop="url" aria-label="Перейти к разделу Отзывы")
            span(itemprop="name") Отзывы
        li.nav__item
          a.nav__link(href="#faq" itemprop="url" aria-label="Перейти к разделу FAQ")
            span(itemprop="name") FAQ
        li.nav__item
          a.nav__link(href="#footer" itemprop="url" aria-label="Перейти к разделу Контакты")
            span(itemprop="name") Контакты

